---
layout: default
title: "Yevgeniy Brikman: Projects"
nav_item: projects
---

<h1>Projects</h1>

{% for project in site.data.projects %}
  <div class="mxn2 clearfix mb2 border-bottom border-light-gray circle-line py3">
    <div class="col sm-col-4 px2 mb2">
      <a href="{{ project.url }}" target="_blank">
        {% capture image_path %}projects/{{ project.image }}{% endcapture %}
        {% include image.html path=image_path alt=project.name %}
      </a>
    </div>
    <div class="col sm-col-8 px2">
      <a href="{{ project.url }}" target="_blank"><h2 class="mt0 mb0">{{ project.name }}</h2></a>
      <a href="{{ project.url }}" target="_blank" class="block h6 mb2">{{ project.url }}</a>
      <p>{{ project.description }}</p>
    </div>
  </div>
{% endfor %}