<p class="center mb3">
  {% include contact.html large_buttons=true %}
</p>
<p>
  Hello there! I'm Yevgeniy (Jim) Brikman. 
  I'm currently writing a book called 
  <a href="{{ site.hello_startup_url }}?ref=ybrikman-home" target="_blank">Hello, Startup</a>,
  which is a programmer's guide to building products, technologies, and teams. 
  In the past, I got my BS and Masters in 
  Computer Science at Cornell University, and worked as a software engineer at
  LinkedIn, TripAdvisor, Cisco Systems, and Thomson Financial. For more info,
  check out my <a href="{{ site.nav.main.writing }}">writing</a>, 
  <a href="{{ site.nav.main.speaking }}">speaking</a>,
  <a href="{{ site.nav.main.projects }}">projects</a>, and 
  <a href="{{ site.nav.main.photos }}">photos</a>.
</p>
