<p class="center mb3">
  {% include contact.html large_buttons=true %}
</p>
<p>
  Hello there! I'm <a href="{{ site.baseurl }}">Yevgeniy (Jim) Brikman</a>. 
  I'm currently writing a book called 
  <a href="{{ hello_startup_url }}?ref=ybrikman-home">Hello, Startup</a>,
  which is a programmer's guide to building products, technologies, and teams. 
  In the past, I got my BS and Masters in 
  Computer Science at Cornell University, and worked as a software engineer at
  LinkedIn, TripAdvisor, Cisco Systems, and Thomson Financial. For more info,
  check out my <a href="{{ site.nav.writing }}">writing</a>, 
  <a href="{{ site.nav.speaking }}">speaking</a>,
  <a href="{{ site.nav.projects }}">projects</a>, and 
  <a href="{{ site.nav.photos }}">photos</a>.
</p>
