<div class="circle-line-image center mt1">
  <a href="{{ site.baseurl }}">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white border-light-gray circle square-100" %}
  </a>
</div>  
<div class="clearfix">
  <div class="sm-col">
    <a href="{{ site.baseurl }} "><h4>{{ site.name }}</h4></a>
    <p class="h5">{{ site.slogan }}</p>
  </div>
  <div class="sm-col-right">
    <h4 class="right-align">Share this post</h4>
    {% include share-buttons.html %}
  </div>
</div>