<div class="circle-line-image center mt1">
  <a href="{{ site.baseurl }}">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white border-light-gray circle square-100" %}
  </a>
</div>
<div class="clearfix">
  <div class="sm-col sm-col-7">
    <a href="{{ site.baseurl }} "><h3>{{ site.name }}</h3></a>
    <p class="h5">
      Did you enjoy this post? If so, check out my book,
      <a href="{{ site.hello_startup_url }}?ref=ybrikman-post-bottom" target="_blank">Hello, Startup</a>.
      Need help with DevOps or scaling your infrastructure? Reach out to me at
      <a href="{{ site.atomic_squirrel_url }}?ref=ybrikman-post-bottom" target="_blank">Atomic Squirrel</a>.
    </p>
  </div>
  <div class="sm-col-right">
    <h3>Share this post</h3>
    {% include share-buttons.html %}
  </div>
</div>