<div class="circle-line-image center mt1">
  <a href="{{ site.baseurl }}">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white border-light-gray circle square-100" %}
  </a>
</div>
<div class="clearfix">
  <div class="sm-col sm-col-7">
    <a href="{{ site.baseurl }} "><h3>{{ site.name }}</h3></a>
    <p class="h5">
      If you enjoyed this post, you may also like my books,
      <em><a href="{{ site.hello_startup_url }}?ref=ybrikman-post-bottom" target="_blank">Hello, Startup</a></em> and
      <em><a href="{{ site.terraform_up_and_running_url }}?ref=ybrikman-post-bottom" target="_blank">Terraform: Up & Running</a></em>.
      If you need help with DevOps or infrastructure, reach out to me at
      <a href="{{ site.gruntwork_url }}?ref=ybrikman-post-bottom" target="_blank">Gruntwork</a>.
    </p>
  </div>
  <div class="sm-col-right">
    <h3>Share this post</h3>
    {% include share-buttons.html %}
  </div>
</div>