<div class="center">
  <a href="{{ site.base_url }}" class="block">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white p1 border-light-gray circle square-200" %}
  </a>
  {% include header-h1.html %}
  <h2 class="page-description body-font gray mt0 h3 regular lg-col-5 mx-auto">
    Co-founder of <a href="{{ site.gruntwork_url }}?ref=ybrikman-home-header" target="_blank">Gruntwork</a>.
    Author of
    <em><a href="{{ site.fundamentals_of_devops_url }}?ref=ybrikman-home" target="_blank">Fundamentals of DevOps and Software Delivery</a></em>,
    <em><a href="{{ site.terraform_up_and_running_url }}?ref=ybrikman-home" target="_blank">Terraform: Up & Running</a></em>, and
    <em><a href="{{ site.hello_startup_url }}?ref=ybrikman-home" target="_blank">Hello, Startup</a></em>.
  </h2>
</div>