{% assign header_size = 2 %}
{% if include.header_size %}
  {% assign header_size = include.header_size %}
{% endif %}
{% assign subheader_size = header_size | plus: 3 %}
{%- capture post_excerpt %}{% include clean-excerpt.html excerpt=include.post.excerpt %}{% endcapture -%}
{%- capture newline %}
{% endcapture -%}
<article class="mxn2 clearfix mt2 mb2 pb3 pt3{% unless include.exclude_divider %} border-bottom border-light-gray circle-line{% endunless %} blog-post">
  <div class="col sm-col-4 px2 mb0">
    <a href="{{ include.post.url }}" class="header-color link-hover-color">
      {% if include.post.thumbnail_path %}
        {% include image.html path=include.post.thumbnail_path alt=include.post.title %}
      {% else %}
        <div class="border border-light-gray h1 py4 px4 center">Aa</div>
      {% endif %}
    </a>
  </div>
  <div class="col sm-col-8 px2">
    <a href="{{ include.post.url }}">
      <h{{ header_size }} class="post-title mt0 mb0">
        {{ include.post.title }}
        {% if include.post.subtitle %}
          <div class="h{{ subheader_size }} regular gray">{{ include.post.subtitle }}</div>
        {% endif %}
      </h{{ header_size }}>
    </a>
    {% include post-metadata.html post=include.post %}
    <p class="mt1 mb0 left-align post-excerpt">{{ post_excerpt }}</p>
    <div><a href="{{ include.post.url }}" class="h6">Continue Reading &raquo;</a></div>
  </div>
</article>