{%- capture image_path -%}
  {%- if page.thumbnail_path -%}
    {{ page.thumbnail_path }}
  {%- elsif page.layout == 'book-series' -%}
    {%- assign series_books = "" | split: "" -%}
    {%- for post in site.posts -%}
      {%- if post.book_series_name == page.title -%}
        {%- assign series_books = series_books | push: post -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign series_books = series_books | sort: "book_series_number" -%}
    {%- if series_books.size > 0 -%}
      {{ series_books[0].thumbnail_path }}
    {%- else -%}
      {{ site.thumbnail_path }}
    {%- endif -%}
  {%- elsif page.header_image -%}
    {{ page.header_image }}
  {%- else -%}
    {{ site.thumbnail_path }}
  {%- endif -%}
{%- endcapture -%}
{%- capture image_url %}{% include image-url.html path=image_path absolute=true %}{% endcapture -%}
{%- capture type -%}
  {%- if layout.is_blog -%}
    {%- if page.tags contains 'Review: Fiction' -%}
      Review: Fiction
    {%- elsif page.tags contains 'Review: Nonfiction' -%}
      Review: Nonfiction
    {%- else -%}
      Blog Post
    {%- endif -%}
  {%- elsif page.is_blog_listing -%}
    Blog Post Listing
  {%- else -%}
    Home Page
  {%- endif -%}
{%- endcapture -%}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.contact_urls.twitter.username }}" />
<meta name="twitter:title" content="{{ include.title }}" />
<meta name="twitter:url" content="{% include canonical-url.html %}" />
<meta name="twitter:description" content="{{ include.description }}" />
<meta name="twitter:image" content="{{ image_url }}" />
<meta property="og:title" content="{{ include.title }}"/>
<meta property="og:url" content="{% include canonical-url.html %}"/>
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="article:author" content="{{ site.contact_urls.facebook.url }}"/>
<meta property="og:description" content="{{ include.description }}"/>
<meta property="og:image" content="{{ image_url }}"/>
<meta property="og:type" content="{{ type }}">
{%- assign rating_tags = "1 Stars, 2 Stars, 3 Stars, 4 Stars, 5 Stars, Popular" | split: ", " %}
{%- assign ratings = "" | split: "" -%}
{%- for rating_tag in rating_tags %}
  {%- if page.tags contains rating_tag %}
    {%- assign ratings = ratings | push: rating_tag -%}
  {% endif -%}
{% endfor -%}
{%- unless ratings == empty %}
<meta name="rating" content="{{ ratings | join: ',' }}">
{%- endunless %}
