{%- capture image_path %}{% if page.thumbnail_path %}{{ page.thumbnail_path }}{% elsif page.header_image %}{{ page.header_image }}{% else %}{{ site.thumbnail_path }}{% endif %}{% endcapture -%}
{%- capture image_url %}{% include image-url.html path=image_path absolute=true %}{% endcapture -%}
{%- capture type -%}
  {%- if layout.is_blog -%}
    {%- if page.tags contains 'Review: Fiction' -%}
      Review: Fiction
    {%- elsif page.tags contains 'Review: Nonfiction' -%}
      Review: Nonfiction
    {%- else -%}
      Blog Post
    {%- endif -%}
  {%- elsif page.is_blog_listing -%}
    Blog Post Listing
  {%- else -%}
    Home Page
  {%- endif -%}
{%- endcapture -%}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.contact_urls.twitter.username }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:url" content="{% include canonical-url.html %}" />
<meta name="twitter:description" content="{{ include.description }}" />
<meta name="twitter:image" content="{{ image_url }}" />
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:url" content="{% include canonical-url.html %}"/>
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="article:author" content="{{ site.contact_urls.facebook.url }}"/>
<meta property="og:description" content="{{ include.description }}"/>
<meta property="og:image" content="{{ image_url }}"/>
<meta property="og:type" content="{{ type }}">
{%- assign rating_tags = "1 Stars, 2 Stars, 3 Stars, 4 Stars, 5 Stars, Popular" | split: ", " %}
{%- for rating_tag in rating_tags %}
  {%- if page.tags contains rating_tag %}
<meta name="rating" content="{{ rating_tag }}">
    {%- break -%}
  {% endif -%}
{% endfor -%}