{% capture url %}{% include canonical-url.html %}{% endcapture %}
{% capture url %}{{ url | uri_escape }}{% endcapture %}
{% capture title %}{{ page.title | uri_escape }}{% endcapture %}

{% comment %}See https://github.com/bradvin/social-share-urls for URL formats{% endcomment %}
<a href="https://twitter.com/share?url={{ url }}&amp;text={{ title }}" target="_blank" class="fa fa-fw fa-lg fa-twitter-square gray"></a>
<a href="https://www.linkedin.com/shareArticle?url={{ url }}&amp;title={{ title }}" target="_blank" class="fa fa-fw fa-lg fa-linkedin-square gray"></a>
<a href="https://www.facebook.com/sharer.php?u={{ url }}" target="_blank" class="fa fa-fw fa-lg fa-facebook-square gray"></a>
<a href="https://plus.google.com/share?url={{ url }}" target="_blank" class="fa fa-fw fa-lg fa-google-plus-square gray"></a>
<a href="http://reddit.com/submit?url={{ url }}&amp;title={{ title }}" target="_blank" class="fa fa-fw fa-lg fa-reddit-square gray"></a>
<a href="http://news.ycombinator.com/submitlink?u={{ url }}&amp;t={{ title }}" target="_blank" class="fa fa-fw fa-lg fa-hacker-news gray"></a>