.ais-SearchBox-form::before {
  background: none !important;
}

.ais-SearchBox-reset {
  width: 10px !important;
  height: 10px !important;
  margin-top: -1px !important;
  right: 10px !important;
}

.ais-RefinementList--noRefinement::after {
  content: "No filters match your query";
  display: block;
  padding: 0.5rem 0;
  color: #666;
  font-style: italic;
}

.ais-ClearRefinements-button--disabled {
  display: none !important;
}

.ais-ClearRefinements {
  display: inline;
}

.ais-ClearRefinements-button {
  display: inline;
  width: 5px !important;
  height: 10px !important;
  padding: 10px !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  margin-left: -5px;
}

.ais-Pagination {
  display: flex;
  justify-content: center;
}