.ais-SearchBox-form::before {
  background: none !important;
}

.ais-SearchBox-reset {
  width: 10px !important;
  height: 10px !important;
  margin-top: -1px;
}

.ais-RefinementList--noRefinement::after {
  content: "No filters match your query";
  display: block;
  padding: 0.5rem 0;
  color: #666;
  font-style: italic;
}

.ais-ClearRefinements-button--disabled {
  display: none !important;
}