.post .post-content {
  img {
    display: block;
    max-width: 100% !important;
    max-height: 500px;
    height: auto !important;
    width: auto !important;
    margin: 0 auto;
    padding: 0.6em 0;
  }
}