.clear-both {
  clear: both;
}

.square-100 {
  width: 100px;
  height: 100px;
}

.square-200 {
  width: 200px;
  height: 200px;
}

.max-height-120 {
  max-height: 120px;
}

.max-height-240 {
  max-height: 240px;
}

.max-height-340 {
  max-height: 340px;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.width-120 {
  width: 120px;
}

.min-width-120 {
  min-width: 120px;
}

.height-150 {
  height: 150px;
}

.cover {
  object-fit: cover;
}

.width-auto {
  width: auto;
}

.h6-tight-line-height {
  line-height: 1.25;
}
