@mixin header-font {
  font-family: "Open Sans", sans-serif;
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
}

@mixin body-font {
  font-family: "Merriweather", serif;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;    
}

body {
  @include body-font;
  color: #2E2E2E;   
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
  color: #3A4145;
}

.header-font {
  @include header-font;
}

.body-font {
  @include body-font;
}

.page-title {
  font-size: 3rem;
}
