// Sticky footer based on: http://mystrd.at/modern-clean-css-sticky-footer/

$footer-height: 25px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $footer-height;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}