/* Make iframes responsive as per http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/ */

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 1rem auto;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.screencast-wrapper {
  width: 89%;
  padding-bottom: 452px;
}