.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  background: #f7f7f7 url(/assets/img/icons/ajax-loader.gif) no-repeat center;
  min-height: 60px;
  min-width: 60px;
}

.lazyloaded {
}