---
layout: default
title: "Yevgeniy Brikman: Blog"
redirect_from:
  - "/writing/"
  - "/writing"
nav_item: blog
nav_item_blog: all
header_title: Blog
include_header: blog_header.html
include_comments:
  count: true
extra_scripts:
  /assets/js/blog-filters.js: module
---

{% include blog-nav.html nav=site.nav.blog %}
<div id="blog-posts-container">
  {% for post in site.posts %}
    {% assign should_hide_post = true %}
    {% for paginator_post in paginator.posts %}
      {% if post.id == paginator_post.id %}
        {% assign should_hide_post = false %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% include post-outline.html post=post should_hide_post=should_hide_post %}
  {% endfor %}
</div>
{% include pagination.html %}