---
layout: default
title: "Yevgeniy Brikman: Blog"
redirect_from:
  - "/writing/"
  - "/writing"
nav_item: blog
header_title: Blog
include_header: blog_header.html
include_comments:
  count: true
---

{% comment %}
{% include blog-nav.html nav=site.nav.blog %}
{% endcomment %}
<div id="blog-posts-container">
  {% for post in paginator.posts %}
    {% include post-outline.html post=post %}
  {% endfor %}
</div>
<div id="no-results" class="display-none mt4">
  <br><br><br><br><br><br><br><br>
  No posts match your search & filters.
</div>
{% include pagination.html %}