---
layout: default
title: "Yevgeniy Brikman: Blog"
redirect_from:
  - "/writing/"
  - "/writing"
nav_item: blog
nav_item_blog: all
header_title: Blog
include_header: blog_header.html
include_comments:
  count: true
extra_scripts:
  /assets/js/blog-filters.js: module
extra_styles:
  /assets/css/multiple-select.min.css: text/css
---

{% include blog-nav.html nav=site.nav.blog %}
<div id="blog-posts-container">
  {% for post in paginator.posts %}
    {% include post-outline.html post=post %}
  {% endfor %}
</div>
<div id="no-results" class="display-none mt4">
  <br><br><br><br><br><br><br><br>
  No posts match your selected filters. Try deselecting some filters to see more.
</div>
{% include pagination.html %}