---
layout: default
bottom_include: "comments.html"
include_header: "post_header.html"
include_comments:
  embed: true
  count: true
is_blog: true
---

{% assign is_review = false %}
{% if page.tags contains "Review: Fiction" or page.tags contains "Review: Nonfiction" %}
  {% assign is_review = true %}
{% endif %}

{% assign header_image_caption = page.header_image_caption %}
{% assign header_image_path = page.header_image %}
{% if is_review %}
  {% assign title_parts = page.title | split: " by " %}
  {% assign book_title = title_parts[0] | remove_first: "Review: " %}
  {% assign book_author = title_parts[1] %}
  {% capture header_image_caption %}'{{ book_title }}' by {{ book_author }}{% endcapture %}
  {% assign header_image_path = page.thumbnail_path %}
  {% if page.rating %}
    {% assign rating = page.rating %}
  {% else %}
    {% for tag in page.tags %}
      {% if tag == "5 Stars" or tag == "4 Stars" or tag == "3 Stars" or tag == "2 Stars" or tag == "1 Stars" %}
        {% assign rating = tag | slice: 0, 1 | to_integer %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{% comment %}
NOTE NOTE NOTE NOTE NOTE
I've configured Algolia specifically to index the contents of $('main article.post'), so try to only keep the actual post
contents within this HTML element, and put everything else (e.g., nav, comments, etc) outside of it.
{% endcomment %}
<article class="post">
  <div class="post-content">
    {% if header_image_path %}
      {% include figure.html path=header_image_path caption=header_image_caption url=page.header_image_url %}
    {% endif %}
    {{ content }}
    {% if rating %}
      <h2>Rating</h2>

      {% include star-rating.html rating=rating %}
    {% endif %}
  </div>
</article>
<div class="mt4 mb4">{% include post-navigation.html %}</div>
<div class="mt4">{% include author-share.html %}</div>

{% comment %}
This is the same outline of the post that appears on the /blog listing page, but hidden. The reason it's here is I've
configured Algolia to store the contents of this in its index, so that when I use Algolia to run a search on the /blog
page, I can render this outline content directly. That way, I don't have to duplicate all the logic in post-outline.html
in an HTML template.
{% endcomment %}
<div id="post-outline" class="display-none">
  {% include post-outline.html post=page for_search_index=true %}
</div>